* {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    color: #b3b2b2;
    overflow-x: hidden;
    padding-bottom: 20px;
    background-color: $black;
    background-image: url(https://www.m2mblue.com/assets/img/map.svg);
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}

table.tbl {
    border-collapse: collapse;
}

.tbl td,th {
    border: 1px solid $grey;
    font-weight: 500;
    border-width: 0px 0px 1px 0px;
}

a.nav-link {
    color: inherit;
    text-decoration: none;
}
