* {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    color: #b3b2b2;
    overflow-x: hidden;
    padding-bottom: 20px;
    background-color: $black;
    background-image: url(https://www.m2mblue.com/assets/img/map.svg);
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}
