select {
    border: 1px solid $grey;
    background-color: $black;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    min-width: 200px;
    margin: 3px 3px;
    height: 38px;
    padding: 4px 4px 4px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./../icons/arrow-down.svg) no-repeat right;
}

select:focus {
    outline: 0;
    box-shadow: 0 0 1px $light-green;
    border: 1px solid $light-green;
}

select:hover {
    outline: 0;
    box-shadow: 0 0 1px $light-green;
    border: 1px solid $light-green;
}

select option {
    background-color: $black;
    color: $white;
    height: 30px;
}
