button {
    border: 1px solid $grey;
    background-color: $white;
    cursor: pointer;
    color: $input-color;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 5px 5px;
    padding: 10px 10px;
    text-transform: uppercase;
    text-align: center;
    min-width: 150px;
    height: 38px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

button.btn-nav {
    border-width: 1px;
}

.btn-nav:hover, {
    box-shadow: 0 2px 0 $grey;
}

button:focus {
    outline: 0;
}

button:active:hover {
    outline: 0;
    box-shadow: 0 0 5px $grey;
    border: 1px solid $grey-dark;
}

button:disabled {
    background-color: $grey-super-light;
    cursor: not-allowed;
}
