input.inpt {
    border: 1px solid $grey;
    color: $white;
    background-color: $black;
    display: inline-block;
    font-family: inherit;
    font-weight: 450;
    font-size: 20px;
    width: 300px;
    margin: 3px 3px;
    height: 38px;
    padding: 4px 4px 4px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

input.inpt:focus,input.inpt:hover {
    outline: 0;
    box-shadow: 0 0 1px $light-green;
    border: 1px solid $light-green;
}

input.inpt::placeholder {
    font-size: 20px;
    padding: 2px 4px 2px;
}
