.category-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        justify-content: center;
        font-size: 18px;
    }
}

.create-category {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;

    &__title {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    &__inputs-group {
        display: flex;
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
