.pair-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 600px;

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
}

.create-pair {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;

    &__title {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    &__inputs-group {
        display: flex;
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.pair-listing {
    table-layout: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pair-listing th:nth-child(1) {
    min-width: 20px;
    max-width: 20px;
}

.pair-listing th:nth-child(2),
.pair-listing th:nth-child(3) {
    min-width: 200px;
    max-width: 200px;
}

.pair-listing th:nth-child(4) {
    width: 20px;
}

.pair-listing tr.selected {
    background: rgba(97,137,47,0.6);
    color: $white;
}

.pair-listing tr:not(.selected):hover{
    background: rgba(97,137,47,0.2);
    color: $white;
}

.pair-listing tr:hover {
    cursor: pointer;
}
