
input[type="checkbox"] {
    visibility: hidden;
}
input[type="checkbox"] {
    border-color: $green;
}
input[type="checkbox"] + label span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid $grey;
    padding: 2px 2px 2px 2px;
    background-color: $green;
    cursor: pointer;
    background: url(../../app/components/checkbox/checked.svg) -30px top no-repeat;
    transition: border .2s ease-in-out;
}


input[type="checkbox"]:checked + label span {
    background:url(../../app/components/checkbox/checked.svg) left top no-repeat;
}

input[type="checkbox"] + label span:hover {
    border: 1px solid $light-green;
}

.outlined {
    border: 1px solid $light-green !important;
}
